body {
  font-family: sans-serif, serif;
  font-size: 14px;
}


header {
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 12px;
}

h2 {
  font-size: 14px;
}

table {
  text-align: left;
}

.feature-working-chkbox, .feature-broken-chkbox {
  vertical-align: middle;
}

.feature-broken, .feature-working {
  margin-left: 0.5em;
  text-align: center;
}

.feature-mark {
  margin-right: 0.3em;
}

.feature-mark-ok {
  color: rgb(85, 170, 127);
}

.feature-mark-broken {

  color: rgb(200, 0, 0);
}

.feature-working-count {
  color: rgb(85, 170, 127);
}

.feature-broken-count {
  color: rgb(200, 0, 0);
}
