<nav>
  <ul>
    <li>
      <a id="test0" href="test0.html">Test 0</a>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
      </ul>
    </li>
    <li>
      <a id="test1" href="test1.html">Test 1</a>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <a id="test2" href="test2.html">Test 2</a>
      <div class="hidden-opacity">
        <div>Item 1</div>
        <div>Item 2</div>
      </div>
    </li>
    <li>
      <a id="test3" href="test3.html">Test 3</a>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
      </ul>
    </li>
  </ul>
</nav>

<div class="nav">
  <div>
    <button>Test 4</button>
    <div class="hidden-left">
      <div>
        <a href="test5.html">Item 1</a>
        <a href="test6.html">Item 2</a>
      </div>
    </div>
  </div>
</div>

<div class="nav">
  <div>
    <button>Test 5</button>
    <div class="test collapse">
      <div>
        <a href="test6.html">Item 1</a>
        <a href="test7.html">Item 2</a>
      </div>
    </div>
  </div>
</div>

<div>
  <button>Test 6</button>
  <custom-menu class="hidden-opacity">
    <div>Test</div>
  </custom-menu>
</div>

<div>
  <input id="chkbox" type="checkbox" style="display:none">
  <label for="chkbox">Menu</label>
  <ul class="label-menu">
    <li>Item 0</li>
    <li>Item 1</li>
  </ul>
</div>

<details>
  <summary>Question</summary>
  <p>Answer</p>
</details>

<style>
nav li ul {
  display: none;
}

nav li a:hover + ul {
  display: block;
}

.hidden-left {
  left: 9998px;
}

.hidden-opacity {
  opacity: 0;
}

.collapse {
  display: none;
}

.label-menu {
  display: none;
}

#chkbox:checked ~ .label-menu {
  display: block;
}
</style>
