<!-- Headers -->
<header>
  <div id="test=mobile">
    <div>
      <img src="test.png" alt="Test image">
    </div>
  </div>
</header>
<div class="header">
  <div class="mobile-only">
    <img src="test.png" alt="Test image">
  </div>
</div>
<div id="header">
  <div class="hidden-mobile">
    <img src="test.png" alt="Test image">
  </div>
</div>
<!-- Not a header -->
<div class="table-header">
  <img src="test.png" alt="">
</div>

<div id="related">
  <div>
    <img src="test.png" alt="">
  </div>
  <div>
    <img src="test.png" alt="">
  </div>
</div>

<!-- Main sections -->
<main>
  <div>
    <img src="test.png" alt="Test image">
  </div>
</main>
<div id="main">
  <div>
    <img src="test.png" alt="Test image">
  </div>
</div>
<div role="main">
  <div>
    <img src="test.png" alt="Test image">
  </div>
</div>

<!-- Sidebars -->
<div class="side">
  <div class="div-ad-image">
    <img src="ad.png" alt="Ad">
  </div>
</div>
<div id="sidebar">
  <img src="test.png" alt="">
</div>
<div aria-roledescription="test sidebar">
  <img src="test.png" alt="">
</div>
<!-- Not a sidebar -->
<div class="article-and-sidebar">
  <img src="test.png" alt="">
</div>

<!-- Footers -->
<footer>
  <img src="ad.png" alt="Ad" class="image-ad">
</footer>
<div class="test footer">
  <img src="test.png" alt="">
</div>
<div id="footer">
  <img src="test.png" alt="">
</div>
<!-- Not a footer -->
<div class="table-footer">
  <img src="test.png" alt="">
</div>

<button id="button-no-event"></button>
<button id="button-onclick-event" onclick="buttonClicked()"></button>
<button id="button-addeventlistenerclick-event" onclick="buttonClicked()"></button>

<!-- Elements with carets -->
<button class="char-caret0">Button</button>
<button>
  Button
  <svg>
    <path d="m 91.281249,104.775 0.529167,0.52917 0.529166,-0.52917 v 0"></path>
  </svg>
</button>
<button class="bg-caret">Button</button>
<!-- Elements with no caret -->
<button>
  Button
  <svg>
    <!-- Extra M command -->
    <path d="m 91.281249,104.775 0.529167,0.52917 M 0.529166,-0.52917 v 0"></path>
  </svg>
</button>
<button>
  Button
  <svg>
    <polygon></polygon>
    <polygon></polygon>
  </svg>
</button>


<!-- Specifically hidden elements -->
<div style="display:none">
  <img src="test.png" alt="">
</div>
<div class="hidden-display">
  <img src="test.png" alt="">
</div>
<div class="hidden-opacity">
  <img src="test.png" alt="">
</div>
<div class="hidden-left">
  <img src="test.png" alt="">
</div>

<!-- Tab-button-like elements -->
<div class="btn tab-top-btn">Tab</div>
<div class="btn tab-bottom-btn">Tab</div>
<div class="btn tab-right-btn">Tab</div>

<style>
.btn {
  cursor: pointer;
}

.tab-top-btn {
  border-top: 1px solid blue;
}

.tab-bottom-btn {
  border-bottom: 1px solid blue;
}

.tab-right-btn {
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  border-left: 1px solid blue;
}

.char-caret0::after {
  content: "";
}

.bg-caret::after {
  background: url("down-arrow.svg");
}

.hidden-display {
  display: none;
}

.hidden-opacity {
  opacity: 0;
}

.hidden-left {
  position: absolute;
  left: 9999px;
}
</style>
