<p>Test</p>

<!-- Scripts -->
<script>
  // var is used because this page is reloaded in the same window before each
  // test, so we cannot use const
  var hello = "world!";
</script>
<script src="test.js"></script>

<!-- IFrames -->
<iframe></iframe>
<article>
  <iframe></iframe>
</article>

<!-- Large IFrames -->
<iframe width="100" height="100"></iframe>
<article>
  <iframe width="100" height="100"></iframe>
</article>

<!-- Cookie banner -->
<div class="cookie-banner">
  <button>Click</button>
</div>

<script>
  var cookieConsent = 42;
</script>
<script>
  var cookie = document.querySelector(".cookie-banner");
</script>

<!-- Not a cookie banner -->
<div class="cookie-wall">
  <button>Click</button>
</div>

<!-- Paywalls -->
<div class="paywall">
  <div>
    <p>Paywall</p>
  </div>
</div>
<section class="paywall">
  <div>
    <p>Paywall</p>
  </div>
</section>

<!-- Video IFrames -->
<iframe src="https://example.com/embed/aaaa0">
</iframe>
<article>
  <iframe src="https://example.com/embed/aaaa1"></iframe>
</article>

<!-- Microblogging widgets -->
<script src="https://platform.twitter.com/widget.js"></script>
<script>var url = "https://platform.twitter.com/widget.js";</script>
<script>var url = "mastodon.widget.js";</script>

<!-- Noscript fallbacks -->
<noscript>Please enable JavaScript.</noscript>
<noscript>
  <p>This app works best with JavaScript enabled.</p>
</noscript>

<div class="no-js">
  <img src="test.png" alt="">
</div>
<div class="js-only">
  <img src="test.png" alt="">
</div>

<!-- Carousels -->
<!-- Broken carousel: has a hidden element with no button to make it appear -->
<div class="div-carousel">
  <img src="img0.png" alt="">
  <img src="img1.png" alt="">
  <img src="img2.png" alt="" aria-hidden="true">
</div>
<!-- Broken carousel: has a hidden element and buttons have not event handlers
  attached -->
<section role="section-carousel">
  <img src="img0.png" alt="">
  <img src="img1.png" alt="">
  <img src="img2.png" alt="" aria-selected="false">
  <button class="button-next">Next</button>
</section>
<!-- Working carousel: all tiles are visible -->
<div aria-roledescription="div-carousel">
  <img src="img0.png" alt="">
  <img src="img1.png" alt="">
</div>
<!-- Working carousel: has a next button with a click event handler attached -->
<div aria-roledescription="div-carousel">
  <img src="img0.png" alt="">
  <img src="img1.png" alt="">
  <img src="img2.png" alt="" aria-hidden="true">
  <button class="button-next event-click">Next</button>
</div>

<!-- External comment sections -->
<div id="disqus_thread"></div>
<iframe src="https://utteranc.es/utterances.html"></iframe>

<!-- CAPTCHAs -->
<script src="captcha.js"></script>
<div class="test-captcha-div">
  <div class="test-captcha-inner-div">
    <img src="catptcha.png" alt="">
  </div>
</div>
<img src="test.png" alt="CAPTCHA image">

<a href="#">[email protected]</a>
<!-- Unbreakable space -->
<a href="#">[email protected]</a>

<!-- Looks button-like -->
<!-- Should match -->
<div class="btn-background-white">
  <div class="btn background-btn">Test</div>
  <div class="btn background-hover-btn">Test</div>
  <div class="btn border-hover-btn">Test</div>
  <div class="btn outline-btn">Test</div>
  <div class="btn tab-top-btn">Tab</div>
  <div class="btn tab-bottom-btn">Tab</div>
  <div class="btn tab-right-btn">Tab</div>
</div>
<!-- Should not match -->
<div class="btn-background-white">
  <div>
    <div class="btn background-btn-white">Test</div>
  </div>
</div>
<div class="btn">
  <div class="background-btn-white">Test</div>
</div>

<!-- Tabs -->
<!-- <div> -->
<!--   <button>Item 0</button> -->
<!--   <button>Item 1</button> -->
<!--   <button>Item 2</button> -->
<!-- </div> -->
<!-- <div> -->
<!--   <button onclick="buttonClicked()">Item 0</button> -->
<!--   <button onclick="buttonClicked()">Item 1</button> -->
<!--   <button onclick="buttonClicked()">Item 2</button> -->
<!-- </div> -->
<!-- <div> -->
<!--   <a href="#">Item 0</a> -->
<!--   <a href="#">Item 1</a> -->
<!--   <a href="#">Item 2</a> -->
<!-- </div> -->
<ul class="tabs bottom-line">
  <li><a href="#item0">Item 0</a></li>
  <li><a href="#item1">Item 1</a></li>
  <li><a href="#item2">Item 2</a></li>
</ul>
<ul class="tabs button-bg">
  <li><div><a href="?activeTab=0">Item 0</a></div></li>
  <li><div><a href="?activeTab=1">Item 1</a></div></li>
  <li><div><a href="?activeTab=2">Item 2</a></div></li>
</ul>

<!-- Full page app -->
<div id="app">
</div>

<custom-element0></custom-element0>
<custom-element1></custom-element1>

<style>
.cookie-wall {
  height: 50vh;
}

.tabs {
  list-style: none;
}

.bottom-line {
  border-bottom: #eee;
}

.btn {
  cursor: pointer;
}

.button-bg a {
  backgroun-color: #eee;
}

.btn-background-white {
  background: white;
}

.background-btn {
  background: blue;
}

.background-btn-white {
  background: white;
}

.background-hover-btn:hover {
  background-color: blue;
}

.border-hover-btn:hover {
  border: 1px solid blue;
}

.outline-btn {
  border: 1px solid blue;
}

.tab-top-btn {
  border-top: 1px solid blue;
}

.tab-bottom-btn {
  border-bottom: 1px solid blue;
}

.tab-right-btn {
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  border-left: 1px solid blue;
}
</style>
