<div>
  <div>
    <picture>
      <img src="test.png" alt="Large image" width="100" height="100">
    </picture>
  </div>
</div>

<main>
  <article>
    <div class="div-avatar">
      <img src="avatar.png" alt="Avatar0">
      <img src="avatar.png" alt="Avatar1">
    </div>

    <div>
      <img class="avatar-image" src="avatar.png" alt="Avatar2"
                                                 width="20" height="20">
    </div>

    <span id="background-image-test"></span>

    <img src="test.svg" alt="SVG image">

    <img src="gravatar.com/gravatar/image.png" alt="Avatar2">

    <!-- Fake image placeholder, not a tracking pixel -->
    <img src="data:aaaa" alt="" width="1" height="1">

    <!-- Not tracking pixels -->
    <img src="https://example.com/counting/t.png">
    <img src="https://example.com/analytics/t.png" alt="Test image"
                                                   width="1" height="1">

    <!-- Tracking pixels -->
    <img src="https://example.com/p.gif" width="1" height="1">
    <img src="https://example.com/p.gif?test&gdpr=0">
    <img src="https://analytics.example.com/t.gif">
    <img src="https://example.com/analytics/t.png">
    <img src="https://example.com/analytics/t.png" alt="T"
                                                   width="1" height="1">
  </article>
</main>

<div>
  <!-- Tracking pixel, because the page has semantic tags and the image is a -->
  <!-- grandchild of <body> -->
  <img src="https://example.com/t.png" alt="" width="2" height="2">
</div>

<!-- Tracking pixel, because the page has semantic tags and the image is a -->
<!-- direct child of <body> -->
<img src="https://example.com/t.png" alt="" width="2" height="2">

<!-- Empty img tag -->
<img>

<style>
#background-image-test {
  background: url(https://example/image.png);
}
</style>
