<!-- Word matching -->
<!-- Should match -->
<span class="burger">Test</span>
<span class="Burger">Test</span>
<span class="BURGER">Test</span>
<span class="burgerTest">Test</span>
<span class="BurgerTest">Test</span>
<span class="testBurgerTest">Test</span>
<span class="testBURGERTest">Test</span>
<span class="test_burger0">Test</span>
<span class="test-burger-test">Test</span>
<!-- Should not match -->
<span class="testburgerTest">Test</span>
<span class="testBurgertest">Test</span>

<button></button>

<div class="div-class test-form">
  <form>
    <button>Test</button>
  </form>
</div>

<div class="div-class">
  <div class="div-class2">
    <a href="test.html"></a>
    <form>
      <button>Test2</button>
    </form>
  </div>
</div>

<div id="test-div">
  <div class="div-class">
    <div class="div-class">
      <img id="test-img" src="test.png">
    </div>
  </div>
</div>

<div class="pointer">Test</div>

<div>
  <button class="dropdown-toggle">Button</button>
  <div class="dropdown-menu">
    <a href="#">Item</a>
  </div>
</div>

<style>
div {
  color: black;
}

a {
  color: blue;
}

#test-img {
  background: url("http://localhost/test.png") green;
}

#test-div {
  background: linear-gradient(to right,
    red, orange, yellow, green, blue, indigo, violet);
}

@media screen and (min-width: 900px) {
  img {
  }

  a:hover {
    color: teal;
  }
}

span:hover, div form a:hover, img {
}
div form:hover a {
}

.pointer {
  cursor: pointer;
}

/* Invalid selector, used to test robustness */
button,, {
}

.dropdown-menu {
  display: none;
}

.dropdown-toggle:hover ~ .dropdown-menu {
  display: block;
}
</style>
