<div class="test-ad-test">
  <img src="ad.jpg">
</div>

<script src="https://example.com/piwik.js"></script>
<iframe src="https://example.com/tagmanager"></iframe>

<!-- Should not match -->
<div class="addition">
  <img src="test.png">
</div>

<!-- Not an analytics script -->
<script type="application/json">{"analytics": 42}</script>

<iframe></iframe>

<script src="test.js"></script>

<div class="test-ad2-test">
  <img src="ad2.jpg">
</div>

<iframe src="https://example.com/analytics"></iframe>

<!-- Probably an analytics script -->
<script>(() => {const analytics = 42;})();</script>

<a href="test.html"></a>
<!-- Ping anchors -->
<a href="test.html" ping=""></a>
<a href="test.html" ping="test.html"></a>
