<!-- Working: regular form -->
<form action="https://example.com/search/" id="12">
  <input type="search" name="q">
  <button>Submit</button>
</form>

<!-- Working: essential, regular form -->
<main>
  <form action="https://example.com" id="11">
    <input type="text" name="input-value">
    <button>Submit</button>
  </form>
</main>

<!-- Working: form with no action attribute, defaulting to the current page's
  URL -->
<form id="10">
  <input type="text" name="input-value">
  <button>Submit</button>
</form>

<!-- Working: form with a textarea -->
<form action="https://example.com/comment/" class="comment-form">
  <textarea name="comment"></textarea>
  <button>Comment</button>
</form>

<!-- Working: implicitly submittable form -->
<form class="newsletter-form">
  <input type="email" name="comment">
</form>

<!-- Working: implicitly submittable form -->
<form>
  <input type="text" name="text">
  <input type="date" name="date">
</form>

<!-- Working: form with a submit event handler (mocked), handling the no-name
  inputs -->
<form class="event-submit">
  <input type="text">
  <input type="date">
</form>

<!-- Working: form with a click event handler (mocked), handling the no-name
  inputs -->
<form class="event-click">
  <input type="text">
  <input type="date">
</form>

<!-- Working: form with click event handlers (mocked) attached to every button,
  handling the no-name inputs -->
<form>
  <input type="text">
  <input type="date">
  <button class="event-click">Sign Up</button>
  <button class="event-click">Log In</button>
</form>

<!-- Working: form with an associated button, outside the form itself, that
  allows the form to work thanks to a click event handler -->
<form id="associated-button">
  <input type="text">
  <input type="date">
</form>
<button form="associated-button" class="event-click">Submit</button>

<!-- Working: form with a input event handler (mocked) attached to the only
  input, hopefully handling the submission -->
<form>
  <input type="text" class="event-input">
</form>

<!-- Broken: non-implicitly submittable form, has three implicit submission
  blocking fields -->
<form class="broken">
  <input type="text" name="text" id="b0">
  <input type="email" name="email" id="b1">
  <input type="date" name="date" id="b2">
</form>

<!-- Broken: the last input needs a name attribute -->
<form class="broken">
  <input type="text" name="q">
  <input type="text">
  <button>Submit</button>
</form>

<!-- Broken: the input event handler may not handle the form submission -->
<form class="broken">
  <input type="text" class="event-input">
  <input type="text">
</form>
