<!-- First child of body, exclude it from being an empty anchor button -->
<a href="#"></a>

<input type="text" oninput="input()">
<input type="text" onkeydown="keydown()">

<button id="button-addeventlistenerclick-event"></button>

<input type="hidden">

<form id="form">
  <input name="input">
  <button></button>
</form>
<!-- Form-associated button -->
<button form="form"></button>

<main>
  <button onclick="buttonClicked()"></button>
  <input type="submit" onclick="buttonClicked()" value="Click">

  <!-- Broken control -->
  <button class="ad">Close Ad</button>
</main>

<!-- Broken controls -->
<input type="search">
<input type="text" class="search-input">
<input type="text" placeholder="Search">
<button>Click</button>
<textarea></textarea>

<!-- Working control -->
<button class="event-click">Button</button>
<div class="event-click">
  <button>Button</button>
</div>

<!-- Should not match as search input -->
<input type="text" placeholder="Research area">

<select>
  <option>Option 0</option>
  <option>Option 1</option>
  <option>Option 2</option>
</select>

<!-- Regular anchors -->
<a href="https://example.com">Test</a>
<a href="#anchor1.test">Test</a>
<a href="#anchor2">Test</a>
<a href="javascript:anchorClicked()">Test</a>

<div id="anchor1.test"></div>
<!-- Obsolete, HTML4 name attribute -->
<a name="anchor2"></a>

<!-- Mislinked fragment anchors -->
<a href="#anchor3"></a>
<a class="event-click" href="#anchor4"></a>

<!-- Go to top arrows -->
<a href="#top"></a>
<!-- Empty anchors -->
<a href="#">
  <i class="arrow-up"></i>
</a>
<a href="#">
  <span class="arrow-up"></span>
</a>

<!-- HTML4, obsolete usage of the name attribute -->
<a name="test">Test</a>

<a onclick="anchorClicked()">Test</a>
<div role="main">
  <a href="">Test</a>
  <a href="javascript:">Test</a>
</div>
<a href="javascript:;">Test</a>
<a id="anchor-addeventlistenerclick-event" href="javascript:void(0)">Test</a>
<a href="javascript:void(0);">Test</a>
<a href="#">Test</a>

<!-- Language select inputs -->
<!-- Broken -->
<select id="language-selection">
  <option>English</option>
  <option>French</option>
</select>
<!-- Working -->
<select class="language-selection event-change">
  <option>English</option>
  <option>French</option>
</select>
<form>
  <select class="language-selection" name="lang">
    <option>English</option>
    <option>French</option>
  </select>
  <button>Select language</button>
</form>

<body class="event-click"></body>
