.highlight-broken-feature {
  box-shadow: 0 0 0 3px rgb(200, 0, 0);
}

.highlight-broken-feature-invisible {
  box-shadow: 0 0 0 1px rgba(200, 0, 0, 0.6);
}

.highlight-working-feature {
  box-shadow: 0 0 0 3px rgb(85, 170, 127);
}

.highlight-working-feature-invisible {
  box-shadow: 0 0 0 1px rgba(85, 170, 127, 0.6);
}

.highlight-info-feature {
  box-shadow: 0 0 0 3px rgb(77, 130, 170);
}

.highlight-info-feature-invisible {
  box-shadow: 0 0 0 1px rgba(77, 130, 170, 0.6);
}

.highlight-overlay {
  pointer-events: none;
  opacity: 0.8;
  /* Such huge value is required because some sites (like
   * https://www.apple.com/) often use 9999 as z-index value */
  z-index: 9999998;
}

.highlight-label-broken-feature {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0 0.1em 0 0.2em;
  background-color: rgb(200, 0, 0);
  color: white;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 700;
  border-bottom-left-radius: 0.4em;
  /* Such huge value is required because some sites (like
   * https://www.apple.com/) often use 9999 as z-index value */
  z-index: 9999999;
}

.highlight-label-working-feature {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0 0.1em 0 0.2em;
  background-color: rgb(85, 170, 127);
  color: white;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 700;
  border-bottom-left-radius: 0.4em;
  /* Such huge value is required because some sites (like
   * https://www.apple.com/) often use 9999 as z-index value */
  z-index: 9999999;
}

.highlight-label-info-feature {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0 0.1em 0 0.2em;
  background-color: rgb(77, 130, 170);
  color: white;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 700;
  border-bottom-left-radius: 0.4em;
  /* Such huge value is required because some sites (like
   * https://www.apple.com/) often use 9999 as z-index value */
  z-index: 9999999;
}
